:root {
  --main-color: #2c3e50;
  --secondary-color: #ffd600;
  --title-size:36px;
  --text-size:16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
}
* {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

a,
a:hover,
a:active {
  color: #222;
  text-decoration: none;
}
.nav-link,
.nav-link:hover {
  color: #222;
}

/* input type number의 기존 화살표 제거 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
input[type="number"] {
  -moz-appearance: textfield;
}

input:read-only {
  background: #F7F7F7 !important;
}


img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

input:focus-visible{
    outline: none;
}
.error-msg {
  color: red;
  margin-top: 5px;
  margin-left: 30px;
  font-size: 14px;
}

/* -----------------------------------------버튼-------------------------------------------- */
button {
  border: 0;
  background: none;
}
/* 오른쪽 정렬 부모 div */
.r_btn{
  display: flex;
  width: 100%;
  justify-content: end;
  gap: 10px;
}
.r_btn_cul{
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 10px;
}
/* 가로 배치 부모 div */
.short_btn_bg{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
}
/* 세로 배치 부모 div */
.long_btn_bg{
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  gap: 10px;
}
/* 가로길이 110px 고정 버튼 blue */
.min_btn {
  display: flex;
  justify-content: center;
  width: 110px;
  height: 45px;
  line-height: 45px;
  border-radius: 25px;
  padding: 0 20px;
}
.min_btn_b{
  display: flex;
  justify-content: center;
  width: 110px;
  height: 45px;
  line-height: 45px;
  color: white;
  font-size: var(--text-size);
  background-color: #2c3e50;
  border: 1px solid #2c3e50;
  border-radius: 25px;
  text-align: center;
  padding: 0 20px;
}
.min_btn_b:hover{
  background-color:#172c3f ;
  border-color:#172c3f ;
  color: white;
}
/* 가로길이 110px 고정 버튼 white */
.min_btn_w{
  display: flex;
  justify-content: center;
  width: 110px;
  height: 45px;
  line-height: 45px;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border-radius: 25px;
  border: 1px solid #eeeeee;
  text-align: center;
  padding: 0 20px;
}
.min_btn_w:hover{
  background-color: #f0f0f0;
  border-color: #f0f0f0;
  color: rgb(0, 0, 0);
}
.min_btn.line.red {
  border: 1px solid #e45555;
  color:#dd3d3d;
}
.min_btn.line.red:hover {
  background: #ffeded;
}


/* 부모넓이 없으면 text 길이에 맞게 */
/* 높이 50px 넓이100%  blue 버튼 */
.btn_50_b{
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border-radius: 25px;
  height: 50px;
  line-height: 50px;
  border:1px solid #2C3E50;
  background-color: #2C3E50;
  color: white;
  cursor: pointer;
  padding: 0px 20px;
}
.btn_50_b:hover{
  background-color:#172c3f ;
  border-color:#172c3f;
  color: white;
}
/* 높이 50px 넓이100%  white 버튼 */
.btn_50_w{
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border-radius: 25px;
  height: 50px;
  line-height: 50px;
  border:1px solid #dddddd;
  background-color: #ffffff;
  padding:  0 20px;
}
.btn_50_w:hover{
  background-color: #f0f0f0;
  border-color: #f0f0f0;
  color: rgb(0, 0, 0);
}
/* ------------------------------------------------------------------------------------- */


.search_box {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}
.search_box input {
  height: 45px;
  border: 1px solid #d9d9d9;
  border-radius: 30px;
  background:#fff;
  padding: 0 50px 0 20px;
  width: 100%;
  font-size: 18px;
  padding-left: 25px;
}
.search_box input:focus{
  background-color: #fafafa;
}
.search_box button{
  position: absolute;
  right: 0px;
  top: 0;
  height: 45px;
  width: 60px;
  border-radius: 0 30px 30px 0;
  border-left: 1px solid #d9d9d9;
}
.search_icon{
  width: 100%;
  height: 50%;
  color: #a8a8a8;
}

/* 검색창 & 셀렉트박스 영역 및 요소 */
.base_search_bg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin:70px 0 50px;
}
.base_search_bg .form-select{
    border-radius: 10px;
    width: 130px;
    margin-right: 20px;
    height: 45px;
}
.base_search_bg .search_box{
    margin: 0;
    width: 100%;
}
.base_search_bg .search_box input {
    width: 100%;
}

.total{
    font-size: 18px;
}

.layout-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 화면 전체 높이 확보 */
}

.layout-content {
    flex: 1; /* 남은 공간을 채우도록 main 영역 확장 */

}

/* SubLayout css */
.base_list_bg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1128px;
    min-width: 800px;
    margin: 100px auto;
}
.base_list_bg form{
    width: 100%;
}
.brd_list_info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    line-height: 45px;
    flex: 1;
}

/* 각 페이지 메인 타이틀 */
.page_title{
    font-size: var(--title-size);
    font-weight: bold;
    text-align: center;
}

/* quill */
.ql-editor {
  font-size: var(--text-size);
  line-height: 1.6;
}
.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="14px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="14px"]::before {
  content: '14px';
}
.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="16px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="16px"]::before {
  content: '16px';
}
.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="18px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="18px"]::before {
  content: '18px';
}
.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="20px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="20px"]::before {
  content: '20px';
}
.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="24px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="24px"]::before {
  content: '24px';
}
.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="32px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="32px"]::before {
  content: '32px';
}

/* 테이블 */
.table{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  /* text-align: center; */
}
.table_title tr th{
  border-bottom: 1px solid #a8a8a8;
}

/* 모달 */
.modal {z-index: 1056 !important;}

/* 네비 */
.Collapse{
  display: block;
}

/* 전체 화면 고정 */
.loading_box {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 어두운 배경 */
.loading_bg {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.1);
}

/* 로고 영역 */
.loading {
  position: relative;
  width: 250px;
  height: 160px;

  /* 마스크 적용 */
  -webkit-mask-image: url('../img/footerLogo.png');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
  mask-image: url('../img/footerLogo.png');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;

  background-color: white; /* 기본 배경 */
  overflow: hidden;
}

.loading::before {
  content: '';
  position: absolute;
  inset: 0;
  background: url('../img/wave.png') repeat-x;
  background-size: 200% 100%;
  animation: waveMove 2s linear infinite, waveRise 3s ease-in-out forwards;
}

/* 물결 좌우 이동 */
@keyframes waveMove {
  0% { background-position-x: 0; }
  100% { background-position-x: -200%; }
}

/* 물결 위로 차오름 */
@keyframes waveRise {
  0% { top: 100%; }
  100% { top: -10%; }
}