.fixed_bg{
    height: 100px;
}

.header_bg{
    position: fixed;
    top: 0;    
    left: 0;
    height: 100px;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.header_nav{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 1128px;
    height: 100%;
    padding: 0;
}

.l_menu_list a:hover::before,
.l_menu_list a:hover::after,
.l_menu_list a.active::before,
.l_menu_list a.active::after {
  width: 50%;  /* hover/active 시 중앙에서 양쪽 끝으로 퍼짐 */
}
.l_menu_list a {
    position: relative;
    color: #000;
    text-decoration: none;
}

.l_menu_list a::after,
.l_menu_list a::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 0;
    background-color: #FFD600;
    transition: width 0.3s ease-out;
}
.l_menu_list a::before {
  right: 50%;  /* 가운데 기준 왼쪽으로 확장 */
}

.l_menu_list a::after {
  left: 50%;   /* 가운데 기준 오른쪽으로 확장 */
}



.l_menu_bg, .l_menu_list{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}
.r_menu{
    display: flex;
    align-items: center;
    justify-content: end;
}
.l_menu_bg{
    gap: 40px;
    height: 100%;
}
.l_menu_list{
    height: 100%;
}
.l_menu_list li{
    height: 100%;
}
.l_menu_list a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0px 30px;
}



.logo{
    width: 100px;
}