/* 모달 창 */
.modal-content {
  text-align: center;
}
.modal-content-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-content p {
    font-size: var(--text-size);
    line-height: 34px;
    margin-bottom: 40px;
}

.modal-log-btn {
  width: 140px;
  height: 45px;
  line-height: 45px;
  background-color: #2c3e50;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}