.admin_total{
    width: 100%;
    text-align: left;
}
.left_info_box{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 20px;
}
.icon_wrap{
    display: flex;
    align-items: center;
    gap: 5px;
}
.item_box{
    position: relative;
    overflow: hidden;
    height: 160px;
    width: 160px;
    border: 1px solid #c9c9c9;
    border-radius: 20px;
    padding: 5px;
}
.item_box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.title{
    font-size: 20px;
    font-weight: 600;
}

.price{
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

/* 수정 */

.content_bg{
    width: 70%;
    display: flex;
    margin: 70px auto ;
    gap: 24px;
}

.view_img_wrap{
    width: 50%;
    background-color: #ebebeb;
    border-radius: 10px;
}
.view_img_wrap img{
    padding: 20px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #c9c9c9;
    object-fit: contain;
}
.r_content{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.r_content label{
    margin-top: 20px;
}

.btn_input{
    display: flex;
    gap: 10px;
}
.btn_input button{
    width: 80px;
    border-radius: 10px;
    color: white;
    background-color: #2c3e50;
}









.admin_event{
    position: relative;
    background-color: rgb(134, 86, 28);
}
.admin_item_info{
    background-color: aqua;
}