/* 로그인 타이틀 */
.login_bg{
    display: flex;
    justify-content: center;
    margin: 70px auto;
    min-height: 600px;
}
.login_wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    /* height: 100%; */
    /* background-color: #2C3E50; */
}
.login_wrap form{
    width: 100%;
}


/* 권한선택 */
.userRole_wrap{
    margin-top: 70px;
    gap: 50px;
    font-size: 18px;
    text-align: center;
}
.userRole_wrap label:first-child{
    margin-right: 50px;
}
.userRole_wrap input{
    margin-right: 10px;
    cursor: pointer;
    background-color: #2c3e50;
}

/* input창 */
.user_loginp_wrap{
    display: flex; 
    flex-direction: column;
    margin-top: 40px;
    gap: 25px;
    width: 100%;
}
.user_loginp label{
    margin-left: 24px;
    font-size: 14px;
}
.user_loginp input{
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #dddddd;
    background-color: white;
    font-size: var(--text-size);
    padding: 0 24px;
    line-height: 48px;
}
.user_loginp input:focus{
  background-color: #fafafa;
}
/* 버튼 */
.top_btn{
    margin-top: 70px;
}
/* 찾기로 이동  */
.find_wrap{
    position: relative;
    width: 100%;
    margin: 5px 0 30px;
    font-size: 14px;
    text-align: right;
}



.result_id_txt{
    text-align: center;
    margin: 100px 0;
}


/* 모달 오버레이 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* 모달 창 */
.modal_content {
  background-color: #fff;
  border-radius: 12px;
  width: 500px;
  height: 300px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.modal_content_list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal_content p {
    font-size: var(--text-size);
    line-height: 34px;
    margin-bottom: 40px;
}

.modal_log_btn {
  width: 140px;
  height: 45px;
  line-height: 45px;
  background-color: #2c3e50;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}



